{% extends "app/base.html" %}
{% load static %}
{% block content %}
	<div class="jumbotron">
		<section id="first" class="page">
		  <h1 class="display-3">WZIM</h1>
		  <hr class="my-4">
		  <p>Wydział Zastosowań Informatyki i Matematyki powstał 1 stycznia 2008 roku na bazie Międzywydziałowego Studium Informatyki i Ekonometrii (późniejsza nazwa: Międzywydziałowe Studium Zastosowań Informatyki). Studium powołane zostało przez Senat Szkoły Głównej Gospodarstwa Wiejskiego w Warszawie w dniu 24 stycznia 2001 roku. Celem Studium było kształcenie studentów w zakresie informatyki i ekonometrii z wykorzystaniem bazy dydaktycznej SGGW. Zajęcia prowadzone były w większości przez pracowników naukowych SGGW zajmujących się problematyką matematyczno-informatyczną, zatrudnionych w różnych jednostkach organizacyjnych Uczelni.</p>
		  <p class="lead">
			<a class="btn btn-primary btn-lg" href="http://www.wzim.sggw.pl/wydzial/prezentacja-wydzialu/" role="button">Czytaj więcej.</a>
		  </p>
		</section>
		<section id="second" class="page">
		  <h1 class="display-3">Informatyka</h1>
		  <p class="lead">Studiując informatykę na SGGW, dowiesz się między innymi o :</p>
		  <hr class="my-4">
			<table class="table table-hover">
					<tr class="table-secondary">
						<td>Fizycznych podstawach teorii informacji</td>
						<td></td>
					</tr>
					<tr class="table-secondary">
						<td>Ochronie informacji i kryptologii</td>
						<td></td>
					</tr>
					<tr class="table-secondary">
						<td>Sieciach komputerowych (technologie CISCO)</td>
						<td></td>
					</tr>
					<tr class="table-secondary">
						<td>Bezpieczeństwie sieci i systemów komputerowych</td>
						<td></td>
					</tr>
					<tr class="table-secondary">
						<td>Komunikacji bezprzewodowych i systemów mobilnych</td>
						<td></td>
					</tr>
					<tr class="table-secondary">
						<td>Diagnostyce systemów analogowych</td>
						<td></td>
					</tr>
					<tr class="table-secondary">
						<td>Wizji komputerowej</td>
						<td></td>
					</tr>
			</table>
		</section>
		<section id="third" class="page">
		  <h1 class="display-3">Program </h1>
		  <p class="lead">Poniżej przedstawiono program dla semestru pierwszego.</p>
		  <hr class="my-4">
		  <blockquote class="blockquote">
				<p class="mb-0"><h4>Opis ogólny skrótów:</h4></p>
				<p>
					<h6>L - liczba </h6>
					<h6>g - godzin </h6>
					<h6>wyk - wykładu </h6>
					<h6>ćw - ćwiczeń</h6>
					<h6>lab - laboratoryjnych</h6>
				</p>
				<p class="mb-0"><h4>Opis symboli statusu zajęć:</h4></p>
				<p>
					<h6>P - zajęcia podstawowe </h6>
					<h6>O - zajęcia obligatoryjne </h6>
					<h6>N - profil ogólnoakademicki</h6>
				</p>
				<hr class="my-4"></hr>
		   </blockquote>
			<table class="table table-hover">
					<thead>
					<tr class="table-active">
						<th scope="col">Nazwa Przedmiotu</th>
						<th scope="col">L.g. wyk.</th>
						<th scope="col">L.g. ćw.</th>
						<th scope="col">L.g. ćw. lab.</th>=
						<th scope="col">Typ zaliczenia</th>
						<th scope="col">ECTS</th>
						<th scope="col">Statusy</th>
					</tr>
					</thead>
					<tbody>
					<tr class="table-light">
						<td>Wstęp do programowania</td>
						<td>30</td>
						<td>0</td>
						<td>30</td>=
						<td>Egzamin</td>
						<td>6</td>
						<td>P,O,N</td>
					</tr>
					<tr class="table-light">
						<td>Podstawy analizy matematycznej</td>
						<td>30</td>
						<td>30</td>
						<td>0</td>=
						<td>Egzamin</td>
						<td>6</td>
						<td>P,O,N</td>
					</tr>
					<tr class="table-light">
						<td>Podstawy matematyki wyższej</td>
						<td>30</td>
						<td>30</td>
						<td>0</td>=
						<td>Egzamin</td>
						<td>5</td>
						<td>P,O,N</td>
					</tr>
					<tr class="table-light">
						<td>Matematyka dyskretna 1</td>
						<td>30</td>
						<td>30</td>
						<td>0</td>=
						<td>Egzamin</td>
						<td>5</td>
						<td>P,O,N</td>
					</tr>
					<tr class="table-light">
						<td>Podstawy fizyki</td>
						<td>30</td>
						<td>30</td>
						<td>0</td>=
						<td>Egzamin</td>
						<td>5</td>
						<td>P,O,N</td>
					</tr>
					<tr class="table-light">
						<td>Rozumowania algorytmiczne</td>
						<td>30</td>
						<td>0</td>
						<td>0</td>=
						<td>Ocena</td>
						<td>2</td>
						<td>P,O</td>
					</tr>
					<tr class="table-light">
						<td>Ergonomia i BHP</td>
						<td>15</td>
						<td>0</td>
						<td>0</td>
						<td>Ocena</td>
						<td>1</td>
						<td>P,O</td>
					</tr>
					</tbody>
			</table>
		</section>
		<section id="fourth" class="page">
		  <h1 class="display-3">Kontakt</h1>
		  <hr class="my-4">
		  <div class="card bg-light mb-3" style="max-width: 20rem;">
		  <div class="card-header">Formy kontaktu</div>
			  <div class="card-body">
				<h4 class="card-title">Mail</h4>
				<p class="card-text">wzim@sggw.pl</p>
				<h4 class="card-title">Telefon</h4>
				<p class="card-text">(22) 59 372 12</p>
				<p class="card-text">(22) 59 372 13</p>
				<p class="card-text">(22) 59 372 15</p>
			  </div>
		  </div>
		</section>
		<section id="cookie-warn">
			<p><strong>UWAGA!</strong> Niniejsza strona wykorzystuje pliki cookies. 
			Informacje uzyskane za pomocą cookies wykorzystywane są głównie 
			w celach statystycznych. Pozostając na stronie godzisz się na 
			ich zapisywanie w Twojej przeglądarce. 
			<a href="javascript:void(0);" id="close-cookie-warn"
			>Zamknij ostrzeżenie</a></p>
</section>
	</div>
<script src="{% static 'js/spa.js' %}"></script>
<script src="{% static 'js/projekt1js.js' %}"></script>
{% endblock%}